In [1]:
# Sales Data Analyzer
# ISQS 3345 - Analytics and Development with Python

# Import libraries
import pandas as pd
import numpy as np

# Load the data
df = pd.read_csv('sales_data.csv')

# Display first few rows
print("=== Sales Data Preview ===")
df.head(10)

=== Sales Data Preview ===

,OrderID,Date,Product,Category,Region,Quantity,UnitPrice,SalesRep
0,1001,1/5/2024,Laptop,Electronics,North,2,899.99,Alice
1,1002,1/8/2024,Desk Chair,Furniture,South,5,149.99,Bob
2,1003,1/12/2024,Monitor,Electronics,North,3,299.99,Alice
3,1004,1/15/2024,Notebook,Supplies,East,50,4.99,Carol
4,1005,1/18/2024,Laptop,Electronics,West,1,899.99,David
5,1006,2/2/2024,Printer,Electronics,South,2,199.99,Bob
6,1007,2/10/2024,Desk,Furniture,North,3,349.99,Alice
7,1008,2/14/2024,Pen Set,Supplies,East,100,2.99,Carol
8,1009,2/20/2024,Monitor,Electronics,West,4,299.99,David
9,1010,3/1/2024,Laptop,Electronics,North,3,899.99,Alice

In [2]:
# Basic data info
print("=== Dataset Information ===")
print(f"Total records: {len(df)}")
print(f"Columns: {list(df.columns)}")
print(f"\nData types:")
print(df.dtypes)

=== Dataset Information ===
Total records: 20
Columns: ['OrderID', 'Date', 'Product', 'Category', 'Region', 'Quantity', 'UnitPrice', 'SalesRep']

Data types:
OrderID        int64
Date          object
Product       object
Category      object
Region        object
Quantity       int64
UnitPrice    float64
SalesRep      object
dtype: object

In [3]:
# Calculate total revenue for each row
df['TotalRevenue'] = df['Quantity'] * df['UnitPrice']

# Display updated dataframe
print("=== Data with Revenue Column ===")
df.head()

=== Data with Revenue Column ===

,OrderID,Date,Product,Category,Region,Quantity,UnitPrice,SalesRep,TotalRevenue
0,1001,1/5/2024,Laptop,Electronics,North,2,899.99,Alice,1799.98
1,1002,1/8/2024,Desk Chair,Furniture,South,5,149.99,Bob,749.95
2,1003,1/12/2024,Monitor,Electronics,North,3,299.99,Alice,899.97
3,1004,1/15/2024,Notebook,Supplies,East,50,4.99,Carol,249.50
4,1005,1/18/2024,Laptop,Electronics,West,1,899.99,David,899.99

In [4]:
# Total revenue
total_revenue = df['TotalRevenue'].sum()
print(f"=== Overall Metrics ===")
print(f"Total Revenue: ${total_revenue:,.2f}")
print(f"Total Orders: {len(df)}")
print(f"Total Units Sold: {df['Quantity'].sum()}")

=== Overall Metrics ===
Total Revenue: $19,511.10
Total Orders: 20
Total Units Sold: 390

In [5]:
# Revenue by Category
print("=== Revenue by Category ===")
category_revenue = df.groupby('Category')['TotalRevenue'].sum()
category_revenue_sorted = category_revenue.sort_values(ascending=False)
for category, revenue in category_revenue_sorted.items():
    print(f"{category}: ${revenue:,.2f}")

=== Revenue by Category ===
Electronics: $13,749.39
Furniture: $4,599.76
Supplies: $1,161.95

In [6]:
# Revenue by Region
print("=== Revenue by Region ===")
region_revenue = df.groupby('Region')['TotalRevenue'].sum()
region_revenue_sorted = region_revenue.sort_values(ascending=False)
for region, revenue in region_revenue_sorted.items():
    print(f"{region}: ${revenue:,.2f}")

=== Revenue by Region ===
North: $9,323.89
South: $4,049.75
East: $3,098.33
West: $3,039.13

In [7]:
# Top 5 Products by Revenue
print("=== Top 5 Products by Revenue ===")
product_revenue = df.groupby('Product')['TotalRevenue'].sum()
top_products = product_revenue.sort_values(ascending=False).head(5)
for product, revenue in top_products.items():
    print(f"{product}: ${revenue:,.2f}")

=== Top 5 Products by Revenue ===
Laptop: $7,199.92
Monitor: $3,599.88
Desk Chair: $2,849.81
Desk: $1,749.95
Keyboard: $1,749.65

In [8]:
# Sales Rep Performance
print("=== Sales Rep Performance ===")
rep_stats = df.groupby('SalesRep').agg({
    'TotalRevenue': 'sum',
    'OrderID': 'count',
    'Quantity': 'sum'
})
rep_stats.columns = ['Revenue', 'Orders', 'UnitsSold']
rep_stats = rep_stats.sort_values('Revenue', ascending=False)
print(rep_stats)

=== Sales Rep Performance ===
          Revenue  Orders  UnitsSold
SalesRep
Alice     9323.89       7        111
Bob       4049.75       5         25
Carol     3098.33       4        167
David     3039.13       4         87

In [9]:
# Monthly Revenue Trend
df['Date'] = pd.to_datetime(df['Date'])
df['Month'] = df['Date'].dt.to_period('M')

print("=== Monthly Revenue Trend ===")
monthly_revenue = df.groupby('Month')['TotalRevenue'].sum()
for month, revenue in monthly_revenue.items():
    print(f"{month}: ${revenue:,.2f}")

=== Monthly Revenue Trend ===
2024-01: $4,599.39
2024-02: $2,948.91
2024-03: $5,723.97
2024-04: $4,339.09
2024-05: $1,899.74

In [10]:
# Summary Report Function
def generate_summary_report(dataframe):
    report = {}
    report['total_revenue'] = dataframe['TotalRevenue'].sum()
    report['total_orders'] = len(dataframe)
    report['avg_order_value'] = dataframe['TotalRevenue'].mean()
    report['best_category'] = dataframe.groupby('Category')['TotalRevenue'].sum().idxmax()
    report['best_region'] = dataframe.groupby('Region')['TotalRevenue'].sum().idxmax()
    report['top_product'] = dataframe.groupby('Product')['TotalRevenue'].sum().idxmax()
    report['top_sales_rep'] = dataframe.groupby('SalesRep')['TotalRevenue'].sum().idxmax()
    return report

print("=== Final Summary Report ===")
summary = generate_summary_report(df)
for key, value in summary.items():
    if 'revenue' in key or 'value' in key:
        print(f"{key}: ${value:,.2f}")
    else:
        print(f"{key}: {value}")

=== Final Summary Report ===
total_revenue: $19,511.10
total_orders: 20
avg_order_value: $975.55
best_category: Electronics
best_region: North
top_product: Laptop
top_sales_rep: Alice